body {
    /*background-color: #C1EDFF;*/
    /*background-color: white;*/
    background-color: #d2f1f1;
    font-family: 'Assistant', sans-serif;
}

iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#gameArea {
    overflow: hidden;
    position: relative;
    height: 80vh;
    width: 90vw;
    margin: 0 auto;
}

.hide {
    display: none;
}

header {
    background-color: #344798;
    width: 100%;
    height: 50px;
    position: relative;
    direction: rtl;
    display: block;
    direction: rtl;
    z-index: 3;
}


.closeAbout {
    font-size: 37px;
    font-weight: 900;
    color: #344798;
    float: left;
    margin: 120px 88px;
    cursor: pointer;
}


.closeHowToPlay {
    font-size: 37px;
    font-weight: 900;
    color: #344798;
    float: left;
    margin: 120px 88px;
    display: flex;
    cursor: pointer;
}


#myTXTdesign1 {
    position: center;
    margin: 109px;
}


#myTXTdesign2 {
    position: center;
    margin: 130px;
    text-align: right;
}


/*כותרת משחק*/
header > a > p {
    font-family: 'Assistant', sans-serif;
    font-size: 12pt;
    font-weight: 600;
    position: relative;
    top: -15px;
    color: black;
    display: inline-block;
    direction: rtl;
}

/*לוגו*/
#logo {
    padding: 2px 13px;
    direction: rtl;
    width: 60px;
    height: 45px;
    /* background-image: url(../Images/GameLogo.png);
    background-size: 100%;*/
    background-repeat: no-repeat;
}

nav {
    margin-top: -70px;
    margin-left: 10px;
    direction: rtl;
}

    nav ul {
        list-style: none;
        direction: rtl;
    }

        nav ul li {
            display: inline-block;
            float: left;
            direction: rtl;
        }

            nav ul li a {
                display: block;
                color: white;
                text-align: center;
                padding: 3px 10px;
                font-weight: 400;
                font-size: 12pt;
                font-family: 'Assistant', sans-serif;
                direction: rtl;
                text-decoration: none;
                margin: -4px 0px;
            }

                nav ul li a:hover {
                    font-weight: 600;
                    cursor: pointer;
                    font-family: 'Assistant', sans-serif;
                    direction: rtl;
                    text-decoration: none;
                }

.popUp {
    background-image: url('../images/htmlframe.png');
    background-size: 105%;
    background-position: center;
    position: fixed;
    top: 30px;
    z-index: 4;
    text-align: center;
    width: 1000px;
    border-radius: 25px;
    padding: 10px;
    padding-bottom: 25px;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    direction: rtl;
    height: 628px;
}

.bounceInDown {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}
